<% if logged_in? %>
  <div class="row section">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3 class="feed_title">The Hive</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
    <div class="center jumbotron">
      <h1>Welcome to The Hive</h1>
      <h2 id="home_text">Sign up today and join the ever expanding hive</h2>
      <%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
<% end %>