<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "View My Profile", @user %></span>
      <%= pluralize(current_user.favouriting.count, "favourite") %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @user.favouriting.any? %>
      <%= render @user.favouriting %>
    <% else %>
      <h4>You have no favourites</h4>
    <% end %>  
  </div>
</div>