@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body 
{
  padding-top: 60px;
  background-color: transparent;
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.btn-lg
{
  border-radius: 0px;
  border: solid 2px #FFBF00;
  color: #FFBF00;
  text-transform: capitalize;
  background-color: rgba(0,0,0,0.5);
  padding: 8px;
}
.btn-lg:hover
{
  background-color: #FFBF00;
  border: solid 2px #FFD000;
  color: #FFFFFF;
}
.fav_button
{
  width: 130px;
  height: auto;
  background: -webkit-linear-gradient(right, #FF6F00 , #ffc000);
  background: -o-linear-gradient(right, #FF6F00, #ffc000);
  background: -moz-linear-gradient(right, #FF6F00, #ffc000);
  background: linear-gradient(to right, #FF6F00 , #ffc000);
  border: 2px solid #ffb000;
  border-radius: 3px;
  padding: 3px;
  color: #fff;
  font-weight: 600;
  margin: 6px 0;
}
.fav_button:hover
{
  opacity: 0.7;
}
.unfav_button
{
  width: 130px;
  height: auto;
  background-color: #fff;
  border: 2px solid #ffc000;
  border-radius: 3px;
  padding: 3px;
  color: #ffb000;
  font-weight: 600;
  margin: 6px 0px;
}
.follow_button
{
  background: -webkit-linear-gradient(right, #FF6F00 , #ffc000);
  background: -o-linear-gradient(right, #FF6F00, #ffc000);
  background: -moz-linear-gradient(right, #FF6F00, #ffc000);
  background: linear-gradient(to right, #FF6F00 , #ffc000);
  border: 2px solid #ffb000;
  border-radius: 3px;
  font-weight: 600;
}
.follow_button:hover
{
  border-color: #ffd000;
}
.unfollow_button
{
  border: 2px solid #ffb000;
  color: #ffb000;
  font-weight: 600;
  background-color: #fff;
}
.post
{
  background: -webkit-linear-gradient(right, #FF6F00 , #ffc000);
  background: -o-linear-gradient(right, #FF6F00, #ffc000);
  background: -moz-linear-gradient(right, #FF6F00, #ffc000);
  background: linear-gradient(to right, #FF6F00 , #ffc000);
  border: 2px solid #ffb000;
  color: #fff;
}
.post:hover
{
  opacity: 0.8;
}
.section
{
  background-color: #fff;
}

.faded
{
  background-color: rgba(0,0,0,0.2);
  padding: 12px 0;
}

.pagination > .active > a, .pagination > .active > a:hover
{
  background-color: #ffc000;
  border-color: #ffa000;
}
.pagination > li > a, .pagination > li > span
{
  color: #333;
}
.pagination > li > a:hover
{
  color: #ffc000;
}
/* Home Page */
.home_bg
{
  background-image: url("bg.jpg");
  background-size: cover;
  margin-top: -9px;
  padding: 30px 0;
}
.jumbotron 
{
    background-color: transparent;
    padding: 85px 60px 90px 60px;
}
#home_text
{
  font-size: 23px;
  padding: 20px 0;
  color: #333;
}
/* Navigation */
.navbar-inverse
{
  background-color: #ffb000;
  background: -webkit-linear-gradient(right, #FF6F00 , #ffc000);
  background: -o-linear-gradient(right, #FF6F00, #ffc000);
  background: -moz-linear-gradient(right, #FF6F00, #ffc000);
  background: linear-gradient(to right, #FF6F00 , #ffc000);
  border-color: #ffc000;
}
.navbar-inverse .navbar-nav > li > a
{
  color: #fff;
  font-size: 16px;
  padding: 22px 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.navbar-inverse .navbar-nav > li > a:hover
{
  color: #000;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus
{
  background-color: transparent;
  color: #000;
}
.navbar-nav > li > .dropdown-menu
{
  background-color: #ffb000;
  border: solid 1px transparent;
}
.dropdown-menu > li:hover
{
  background-color: #ffb000;
}
.dropdown-menu > li > a
{
  color: #fff;
  text-transform: uppercase;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 1px;
}

.jumbotron h1
{
  font-size: 70px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
  letter-spacing: 1px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a, a:hover
{
  color: #ffb000;
}

.feed_title
{
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffc000;
  text-shadow: 1px 1px #CAA70E;
  text-align: center;
  font-size: 28px;
}

.titles
{
  font-size: 34px;
}
/* header */

#logo
{
  padding: 10px 0;
  color: #ffd000;
  float: left;
  font-size: 45px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: #444;
    &:hover {
      color: #000;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: #333;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #ffb000;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

label
{
  color: #fff;
  font-weight: 200;
  letter-spacing: 1px;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
    font-weight: 200;
    color: #fff;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.form-control
{
  padding: 10px;
  border-radius: 0px;
}

#new_user
{
  color: #fff;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* Media Queries */
@media (min-width: 1600px)
{
  .home_bg
  {
    height: 900px;
  }
}